version: '3'
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile-crud-php-simple-example
    container_name: crud-php-simple-app
    volumes:
      - ./projects/crud-php-simple:/var/www/html
    ports:
      - "7001:80"
